name: CI

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 현재 레포지토리의 코드를 체크아웃해서 Actions에 가져온다
        uses: actions/checkout@v4

      - name: JDK 17 설치
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: yml 파일 만들기
        run: |
          mkdir -p src/main/resources/
          mkdir -p src/test/resources/
          echo "$APPLICATION_YML" > src/main/resources/application.yml
          echo "$APPLICATION_JWT" > src/main/resources/application-jwt.yml
          echo "$APPLICATION_TEST" > src/test/resources/application-test.yml
        env:
          APPLICATION_YML: ${{ secrets.APPLICATION_YML }}
          APPLICATION_JWT: ${{ secrets.APPLICATION_JWT }}
          APPLICATION_TEST: ${{ secrets.APPLICATION_TEST }}

      - name: Docker Compose 실행
        run: docker compose up -d

      - name: MySQL 서비스 헬시 상태 대기
        run: |
          echo "⏳ Waiting for MySQL to be healthy..."
          until [ "$(docker inspect -f '{{.State.Health.Status}}' my-db)" == "healthy" ]; do
            sleep 2;
          done
          echo "✅ MySQL is healthy!"

      - name: Redis 서비스 헬시 상태 대기
        run: |
          echo "⏳ Waiting for Redis to be healthy..."
          until [ "$(docker inspect -f '{{.State.Health.Status}}' redis-local)" == "healthy" ]; do
            sleep 2;
          done
          echo "✅ Redis is healthy!"

      - name: gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: 테스트 실행
        run: |
          ./gradlew test

